<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>AI-image</title>
</head>
<body>
    <div id="imagePrompt"><i><%= char.prompt %></i>
    </div>

    <div id="genImgDiv">
        <a href="/"><img src="<%= char.imageURL %>" alt="<%= char.prompt %>"></a>
    </div>

    <% if (user.email == char.creatorEmail) { %>
        <div>
            <!-- <form action="/gen/<%= char._id %>/deleteImage?_method=DELETE" method="POST"> -->
                <form action="/gen/<%= char._id %>/deleteImage" method="POST">
                <button type="submit" class="btn btn-danger"><strong>&times</strong></button>
            </form>
            <form action="/gen/<%= char._id %>/save" method="POST">
                <button type="submit" class="btn btn-info"><strong>&#10003</strong></button>
            </form>
        </div>
    
    <% } %>

    <form action="/gen/<%= char._id %>" method="POST">
            <label>Rate the image (0-10)</label>
        <div>
            <input type="number" name="rating" min="0" max="10" required>
        </div>
          <div>
            <textarea name="comment" placeholder="Give us your thoughts on this image ..." rows="3" cols="50" required></textarea>
            </div>
          <button type="submit" class="btn btn-success">Save review</button>
    </form>

    <div id="reviewDiv">
        <% let total = 'NA'; %>
        <% if (char.reviews.length) { %>
            <% total = 0; %>
            <% char.reviews.forEach(function(c) { %>
                <% total += c.rating; %>
            <% }); %>
            <% total = (total/char.reviews.length).toFixed(1); %>
        <% }; %>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col"><strong>Comment</strong></th>
                <th scope="col"><strong>Rating (<%= total %>)</strong></th>
                <th scope="col"><strong>Option</strong></th>
            </tr>
        </thead>
        <% if (char.reviews.length) { %>
            <% char.reviews.forEach(function(c) { %>
        <tbody>
            <tr>
                <td><%= c.reviewerName %></td>
                <td><%= c.comment %></td>
                <td><%= c.rating %></td>
                <% if (user.email == char.creatorEmail) { %>
                <td><a href="/gen/<%= char._id %>/deleteReview">Delete</a></td>
                <% } %>
            </tr>
        </tbody>
        <% }) %>
        <% } %>
    </table>
    </div>
    <hr class="hr hr-blurry" />
    
</body>
</html>
